[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-dotenv = "*"
flask-markdown = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-simplemde = "*"
flask-login = "*"
email-validator = "*"
markdown = "*"
flask-moment = "*"
flask-migrate = "*"
flask-admin = "*"
gunicorn = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
