{% extends 'base.html' %}
{% block head %}
<style>
.card {
    background:#03e3fc;
}
.turn-green:hover {
    background:lightgreen;
}
    .turn-red:hover {
        background:red;
    }
    .turn-yellow:hover {
        background:yellow;
    }
    .card-header {
        background:#282828;
        color:whitesmoke;
    }
</style>
{% endblock %}
{% block body %}
{{ super() }}
<br>
<br>
<div class="container">
    {% if posts %}
    {% for post in posts %}
    <div class="card">
        <div class="card-header text-center">
            <h5 class="card-title">{{post.title}}</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <p class="card-text col-9">Date Posted:  {{ moment(post.timestamp).format('LLLL') }}</p>
                <div class="col-3">
                    <a class="btn btn-light turn-green" href="/read/{{post.id}}">Read</a>
                    <a class="btn btn-light turn-red" href="/delete/{{post.id}}">Delete</a>
                    <a class="btn btn-light turn-yellow" href="/edit/{{post.id}}">Edit</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endfor %}
    {% else %}
    <div class="container text-center">
        <p><span style="color:grey">Nothing here yet !!</span></p>
        <p><span style="color:grey">Click on "Post" in navbar to write your first journal !</span></p>
    </div>
    {% endif %}
</div>
{% endblock %}


