{% extends 'base.html' %}
{% block head%}
<style>
body {
  color: black;
}
.container {
  background:#03e3fc;
}
</style>
{% endblock %}
{% block body %}

<div class="container text-center py-3 mt-5">
  <h1>Request password reset</h1>
  <form action="/password_reset_request" method="post">
    {{ form.hidden_tag() }}
    <p>
    {{ form.email.label }}<br>
    {{ form.email(size=32, placeholder="Email") }}<br>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
  </form>
</div>
{% endblock %}

