
{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<style>
.wrap-from {
    background:#e6ffff;
}
</style>
{% endblock %}

{% block body %}
{{ super() }}
<div class="wrap-from container pb-3 mt-2">
    <form action="/post" method="POST" >
        <div class="form-group container">
            <br>
            {{  form.hidden_tag() }}
            <label for="title">Title:</label>
            <textarea id="title" name="title" cols="30" rows="1" placeholder="Enter a short descriptive title" class="md-textarea form-control" required></textarea>
            <br>
            <label for="pagedown">Post:</label>
            <textarea id="pagedown" name="pagedown" cols="30" rows="100"class="form-control" placeholder="Write your post here" ></textarea>
            <div class="text-center">{{ form.submit }}</div>
        </div>
    </form>
</div>
<script>
var easyMDE = new EasyMDE({element: document.getElementById('pagedown')});
</script>
{% endblock %}


